<template name="pantallaCliente">
			<div class="row">
		    <div class="col s12">
		      <ul class="tabs">
		        <li class="tab col s3"><a class="active" href="#solicitudes">Rentas</a></li>
		        <li class="tab col s3"><a href="#productos">Productos</a></li>
		        <li class="tab col s3 disabled"><a href="#datosUsuario">Editar Datos</a></li>
		        <li class="tab col s3"><a href="#salir">Salir</a></li>
		      </ul>
		    </div>

		    <!--Opciones de solicitudes-->
		    <div id="solicitudes" class="col s12">
			    <div id="menuOpcionesSolicitudes">
					<a class="waves-effect light-blue darken-2 btn" id="btnPendientesU">Pendientes<i class="material-icons right">info_outline</i></a>
					<a class="waves-effect  cyan lighten-2 btn" id="btnProcesoU">Rentadas<i class="material-icons right">loop</i></a>
					<a class="waves-effect orange accent-3 btn" id="btnFinalizadasU">Finalizadas<i class="material-icons right">schedule</i></a>
				</div>
				<div id="rentasUsuario">
					{{labelRentas}}
					{{> rentas}}
				</div>
		    </div>
		    <div id="productos">
		    	<div id="menuOpcionesSolicitudes">
					<a class="waves-effect light-blue darken-2 btn" id="btnPendientesU">Bodegas<i class="material-icons right">info_outline</i></a>
				</div>
		    	<div id="Bodegas">
		    		{{> catBodegasCliente}}
		    	</div>
		    	<div id="verDetalle">
					{{> verDetalleCliente}}
				</div>
		    </div>
		    <div id="datosUsuario" class="col s12">
				<div id="editarUsuario">
					{{> registro}}
				</div>
	  		</div>
	  		<div id="salir">
	  			{{> salirSistema}}
	  		</div>
	</div>
</template>