<template name="verDetalleCliente">
	<form id="detalleBodega">
		{{#each detBodegas}}
			{{> detBodega}}
		{{/each}}
	</form>
</template>

<template name="detBodega">
	<ul class="collapsible popout" data-collapsible="expandable">
	    <li class="noImprimir">
	      <div class="collapsible-header active"><i class="material-icons">photo</i>Imágen</div>
	      <div class="collapsible-body"><p class="imagenBodega"><img class="materialboxed" width="650" align=center src={{imagenes}}></p></div>
	    </li>
	    <li>
	      <div class="collapsible-header active"><i class="material-icons">view_headline</i><b>Datos generales</b></div>
	      <div class="collapsible-body"><p>
	      	<div class="row">
				<div class="col s3">
			    	<p><b>Nombre de la bodega:</b></p>
			    </div>
			    <div class="col s4">
			    	<p id="nombreBodega">{{nombre}}</p>
			    </div>
			    <div class="col s1 offset-s2">
			    	<p><b>Precio:</b></p>
			    </div>
			    <div class="col s2">
			    	<p id="descripcionBodega">{{precioConFormato}}</p>
			    </div>
			    <div class="col s12"><b>Descripción:</b></div>
			    <div class="col s12"> <p id="descripcionBodega">{{descripcion}}</p></div>
		    </div></p>
	     </div>
	    </li>
	    <li>
	      <div class="collapsible-header active"><i class="material-icons">settings</i><b>Características</b></div>
	      <div class="collapsible-body"><p>
	      	<div class="row">
			   <div class="col s2">
			    	<p><b>Largo:</b></p>
			    </div>
			    <div class="col s2">
			    	<p id="largoBodega">{{largo}}</p>
			    </div>
			    <div class="col s2">
			    	<p><b>Ancho:</b></p>
			    </div>
			    <div class="col s2">
			    	<p id="anchoBodega"> {{ancho}}</p>
			    </div>
			    <div class="col s2">
			    	<p><b>Alto:</b></p>
			    </div>
			    <div class="col s2"> 
			    	<p id="altoBodega">{{alto}}</p>
			    </div>
			    <div class="col s12"><b>Tipo de acceso:</b></div>
			    <div class="col s12"> <p id="especificacionesBodega">{{tipoAcceso}}</p></div>
			</div>
	      </p></div>
	    </li>

	    <li>
	      <div class="collapsible-header active"><i class="material-icons">location_on</i><b>Ubicación</b></div>
	      <div class="collapsible-body"><p>
	      	<div class="row">
			    <div class="col s3">
			   		<p><b>Calle y número:</b></p>
			   	</div>
			   	<div class="col s3">
			   		<p id="calleNumeroBodega"> {{direccion.calle}} {{direccion.numero}}</p>
			   	</div>
			   	<div class="col s2">
			   		<p><b>Colonia:</b></p>
			   	</div>
			   	<div class="col s4">
		    		<p id="coloniaBodega">{{direccion.colonia}}</p>
		    	</div>
			   	<div class="col s3">
			   		<p><b>Estado:</b></p>
		    	</div>
		    	<div class="col s3"> 
		    		<p id="estadoBodega">{{direccion.estado}}</p>
			   	</div>
			   	<div class="col s2"><p><b>País:</b></p></div>
			   	<div class="col s4"> <p id="paisBodega">{{direccion.pais}}</p></div>
		    </div></p>
		  </div>
	    </li>
	    <li>
			<div class="collapsible-header no Imprimir"><i class="material-icons">shopping_cart</i>Rentar</div>
		      <div class="collapsible-body">
		      	<div class="row">
		      		<div class="col s2" id="lblFechaInicio">
		    			Fecha de inicio:
		      		</div>
		      		<div class="col s2"><input type="date" class="datepicker" id="dateFechaInicio"></div>
		     		<div class="col s6">
		      			<div class="input-field col s12">
						    <select id="cmbDuracionContrato">
						      <option value="1" selected>1 mes</option>
						      <option value="2">2 meses</option>
						      <option value="3">3 meses</option>
						      <option value="4">4 meses</option>
						      <option value="5">5 meses</option>
						      <option value="6">6 meses</option>
							  <option value="7">7 meses</option>
						      <option value="8">8 meses</option>
						      <option value="9">9 meses</option>
						      <option value="10">10 meses</option>
						      <option value="11">11 meses</option>
						      <option value="12">12 meses</option>
						    </select>
							    <label>Duración</label>
						</div>
			      	</div>
			      	<div class="col s12"> Comentarios: </div>
			      	<div class="col s12">
			      		<div class="input-field col s12">
					        <textarea id="txtComentarios" class="materialize-textarea"></textarea>
					        <label for="txtComentarios">Comentarios</label>
				        </div>
			      	</div>
			    </div>
			  	<a class="waves-effect light-green darken-1 btn" id="btnRentar">Rentar<i class="material-icons right">done</i></a>
			</div>
	    </li>
	    <a class="waves-effect light-red darken-1 btn" id="btnVerPDF" onClick="window.print();">Imprimir PDF<i class="material-icons right">picture_as_pdf</i></a>
  	</ul> 
</template>