<template name="layout">
	<header>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<div id="logo">
			<img src="img/logo.png" alt="">
		</div>
		<div id="slogan">
			<img src="img/slogan.png">
		</div>
	</header>
		<ul id="dropProductos" class="dropdown-content">
		  <li><a href="/catalogoBodegas">Catálogo de Bodegas</a></li>
		  <li class="divider"></li>
		  <li><a href="/construccion">Maíz</a></li>
		  <li><a href="/construccion">Frijol</a></li>
		</ul>

		  <nav class="light-green darken-1">
		  	{{#if noEstaLogueado}}
			    <div class="nav-wrapper" id="menuPrincipal">
			      <ul class="right show-on-med-and-down">
			        <li><a href="/"><i class="material-icons left">home</i>Inicio</a></li>
			        <li><a href="/informacion"><i class="material-icons left">view_module</i>Nosotros</a></li>
			        <!-- Dropdown Trigger -->
	      			<li><a class="dropdown-button" href="#!" data-activates="dropProductos"><i class="material-icons left"> list </i>Productos<i class="material-icons right">arrow_drop_down</i></a></li>
			        <li><a href="/construccion"><i class="material-icons left">shopping_cart</i>Servicios</a></li>
			        <li><a href="/acceder"><i class="material-icons left">account_circle</i>Acceder</a></li>
			      </ul> 
			    </div>
			{{/if}}
		  </nav>
		  <div id="contenidoDinamico">
			{{> yield}}
		</div>
		<footer>
		    <small>
				<div class="row">
					<div class="col s4">
						<p>
							Contactanos
						</p>
						<p>
							Tel (667) 710-1910 <br>Info@grain.com.mx <br>
							<a class="noImprimir" href="http://twitter.com/AQUI_TU_USUARIO" target="_blank"><img src="https://lh6.googleusercontent.com/--aIk2uBwEKM/T3nN1x09jBI/AAAAAAAAAs8/qzDsbw3kEm8/s32/twitter32.png" width=32 height=32 alt="Síguenos en Twitter" /></a>
							<a class="noImprimir" href="http://www.facebook.com/AQUI_TU_PAGINA" target="_blank"><img alt="Siguenos en Facebook" src="https://lh6.googleusercontent.com/-CYt37hfDnQ8/T3nNydojf_I/AAAAAAAAAr0/P5OtlZxV4rk/s32/facebook32.png" width=32 height=32  /></a>
						</p>
					</div>
					<div class="col s4" id="direccionMatriz">
						<p>
								Dirección
						</p>
						<p class="white">
						<p>Agricola Grain S.A. DE C.V. <br> 
						Carretera a Navolato, Acera Sur #13916-C Poniente <br>
						Col. Centro Aguaruto, Culiacán, Sinaloa, México <br> </p>
						</p>
					</div>
					<div class="col s4">
						<a href="/comentarios" class="waves-effect light-green darken-1 btn" id="btnComentarios">Comentarios<i class="material-icons right">message</i></a>
					</div>
					
				</div>
		    </small>
		</footer>
	</template>