<template name="pantallaEmpleado">
			<div class="row">
		    <div class="col s12">
		      <ul class="tabs">
		        <li class="tab col s3"><a class="active" href="#solicitudes">Rentas</a></li>
		        <li class="tab col s3"><a href="#bodegas">Bodegas</a></li>
		        <li class="tab col s3"><a href="#productos">Productos</a></li>
		        <li class="tab col s3"><a href="#compras">Granos</a></li>
		        <li class="tab col s3"><a href="#usuarios">Usuarios</a></li>
		        <li class="tab col s3"><a href="#proveedores">Proveedores</a></li>
		        <li class="tab col s3"><a href="#comentarios">Comentarios</a></li>
		        <li class="tab col s3"><a href="#salir">Salir</a></li>
		      </ul>
		    </div>
		    <!--Opciones de solicitudes-->
		    <div id="solicitudes" class="col s12">
			    <div id="menuOpcionesSolicitudes">
					<a class="waves-effect light-blue darken-2 btn" id="btnPendientes">Pendientes<i class="material-icons right">info_outline</i></a>
					<a class="waves-effect cyan darken-2 btn" id="btnProceso">Rentadas<i class="material-icons right">loop</i></a>
					<a class="waves-effect amber darken-2 btn" id="btnFinalizadas">Finalizadas<i class="material-icons right">schedule</i></a>
				</div>
				<div id="rentasUsuarios">
					{{labelRentas}}
					{{> rentas}}
				</div>
		    </div>
			<!-- Opciones de Bodegas -->
		    <div id="bodegas" class="col s12">
				<div id="menuOpcionesBodegas">
					<a class="waves-effect light-blue darken-2 btn" id="btnNuevaBodega">Nueva<i class="material-icons right">add</i></a>
					<a class="waves-effect amber darken-2 btn" id="btnCatalogoBodega">Catálogo<i class="material-icons right">local_library</i></a>
				</div>
				<div id="altaBodega">
					{{> altaBodegas}}
				</div>
				<div id="catalogoBodegas">
					{{> mostrarBodegas}}
				</div>
				<div id="editarBodega">
					{{> editarBodega}}
				</div>
			</div>
			<!-- Opciones de Bodegas -->
			<div id="productos" class="col s12">
				<div id="menuOpcionesProductos">
					<a class="waves-effect light-blue darken-2 btn" id="btnCompras">Compras<i class="material-icons right">add</i></a>
					<a class="waves-effect amber darken-2 btn" id="btnVentas">Ventas<i class="material-icons right">local_library</i></a>
				</div>
				<div id="comprasGranos">
					{{> compras}}
				</div>
				<div id="ventasGranos">
					<h5>ventas</h5>
				</div>
			</div>
			<!--Opciones de compras-->
			<div id="compras" class="col s12">
				<div id="menuOpcionesGranos">
					<a class="waves-effect light-blue darken-2 btn" id="btnNuevaCompra">Compra<i class="material-icons right">add</i></a>
					<a class="waves-effect light-blue darken-2 btn" id="btnAltaGrano">Alta Grano<i class="material-icons right">add</i></a>
				</div>
				<div id="nuevaCompra">
					{{> nuevaCompra}}
				</div>
				<div id="altaGrano">
					{{> altaGrano}}
				</div>
			</div>
			<!--Opciones usuarios-->
		    <div id="usuarios" class="col s12">
				<!-- <div id="menuOpcionesUsuarios">
					<a class="waves-effect light-green darken-1 btn" id="btnNuevoUsuario">Nuevo<i class="material-icons right">add</i></a> 
					PARA ITERACIONES FUTURAS
					<a class="waves-effect light-green darken-1 btn" id="btnEditarUsuario">Editar<i class="material-icons right">edit</i></a>
					<a class="waves-effect light-green darken-1 btn" id="btnEliminarUsuario">Eliminar<i class="material-icons right">delete</i></a> 
				</div>-->
				<div id="nuevoUsuario">
					{{> registrarEmpleado}}
				</div> 
				<!-- PARA ITERACIONES FUTURAS
				<div id="editarUsuario">
					Editar Usuario
				</div>
				<div id="eliminarUsuario">
					Eliminar Usuario
				</div> -->
	  	</div>
	  	<!--Opciones proveedores-->
		    <div id="proveedores" class="col s12">
				<!-- <div id="menuOpcionesProveedores">
					<a class="waves-effect light-green darken-1 btn" id="btnNuevoProveedor">Nuevo<i class="material-icons right">add</i></a> 
					PARA ITERACIONES FUTURAS
					<a class="waves-effect light-green darken-1 btn" id="btnEditarUsuario">Editar<i class="material-icons right">edit</i></a>
					<a class="waves-effect light-green darken-1 btn" id="btnEliminarUsuario">Eliminar<i class="material-icons right">delete</i></a> 
				</div>-->
				<div id="nuevoProveedor">
					{{> registrarProveedor}}
				</div> 
				<!-- PARA ITERACIONES FUTURAS
				<div id="editarUsuario">
					Editar Usuario
				</div>
				<div id="eliminarUsuario">
					Eliminar Usuario
				</div> -->
	  	</div>
	  	<div id="comentarios">
	  		{{> verComentarios}}
	  	</div>
	  	<div id="salir">
	  		{{> salirSistema}}
	  	</div>
	</div>
</template>