<template name="verComentarios">
      <form class="col s12 card-panel green lighten-5" id="verComentarios">
      <ul class="collapsible popout" data-collapsible="expandable">
          {{#each verComentarios}}
            {{> Comentario}}
          {{/each}}
    </ul>
        </form>
</template>

<template name="Comentario">
  <li>
          <div class="collapsible-header"><i class="material-icons">comment</i>{{nombreCompleto}} ({{correo}})    {{convFechaCom}}</div>
            <div class="collapsible-body">
              <div class="col s12">
              {{comentario}}
            </div>
              <a class="waves-effect light-red darken-1 btn" id="btnAtendido">Atendido<i class="material-icons right"></i></a>
         </div>
        </li>
</template>