<template name="layout">
			<header>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
				<div id="logo">
					<img src="img/logo.png" alt="">
				</div>
				<div id="slogan">
					<img src="img/slogan.png">
				</div>
			</header>
		<ul id="dropProductos" class="dropdown-content">
		  <li><a href="/catalogoBodegas">Renta de Bodegas</a></li>
		  <li class="divider"></li>
		  <li><a href="/maiz">Maíz</a></li>
		  <li><a href="/frijol">Frijol</a></li>
		</ul>

		  <nav class="light-green darken-1">
		    <div class="nav-wrapper">
		      <ul class="right hide-on-med-and-down">
		        <li><a href="/"><i class="material-icons left">home</i>Inicio</a></li>
		        <li><a href="/informacion"><i class="material-icons left">view_module</i>Nosotros</a></li>
		        <!-- Dropdown Trigger -->
      			<li><a class="dropdown-button" href="#!" data-activates="dropProductos"><i class="material-icons left"> list </i>Productos<i class="material-icons right">arrow_drop_down</i></a></li>
		        <li><a href="/servicios"><i class="material-icons left">shopping_cart</i>Servicios</a></li>
		        <li><a href="/acceder"><i class="material-icons left">account_circle</i>Acceder</a></li>
		      </ul>
		      
		    </div>
		  </nav>
			{{> yield}}
		<footer>
		    <small>
				<div class="row">
					<div class="col s4">
						<p>
							Contactanos
						</p>
						<p class="light center">
							Tel (667) 710-1910     Info@grain.com.mx <br>
							<a href="http://twitter.com/AQUI_TU_USUARIO" target="_blank"><img src="https://lh6.googleusercontent.com/--aIk2uBwEKM/T3nN1x09jBI/AAAAAAAAAs8/qzDsbw3kEm8/s32/twitter32.png" width=32 height=32 alt="Síguenos en Twitter" /></a>
							<a href="http://www.facebook.com/AQUI_TU_PAGINA" target="_blank"><img alt="Siguenos en Facebook" src="https://lh6.googleusercontent.com/-CYt37hfDnQ8/T3nNydojf_I/AAAAAAAAAr0/P5OtlZxV4rk/s32/facebook32.png" width=32 height=32  /></a>
						</p>
					</div>
					<div class="col s4">
						<p>
								Dirección
						</p>
						<p class="white">
						<p>Agricola Grain S.A. DE C.V. <br> 
						Carretera a Navolato, Acera Sur #13916-C Poniente <br>
						Col. Centro Aguaruto, Culiacán, Sinaloa, México <br> </p>
						</p>
					</div>
					<div class="col s4">
						<a href="/comentarios" class="waves-effect light-blue darken-3 btn" id="btnComentarios">Comentarios<i class="material-icons right">send</i></a>
					</div>
					
				</div>
		    </small>
		</footer>
	</template>