<template name="altaGrano">
	<section id="registroBodegas">
		<form class="col s12 card-panel green lighten-5" id="altaBodegas" name="frmAltaBodegas">
			<ul class="collapsible popout" data-collapsible="expandable">
				<li>
					<h3>Alta Grano</h3>
				</li>
				<li>
					<div class="collapsible-header active"><i class="material-icons">description</i>Datos</div>
					<div class="collapsible-body">
						<div class="row">
							<div class="col s4 offset-s8">
								<div class="file-field input-field">
									<div class="btn">
										<span>Imagen</span>
										<input type="file">
									</div>
									<div class="file-path-wrapper">
										<input class="file-path validate" type="text">
									</div>
								</div> 					
							</div>
							<div class="col s5 offset-s1">
								<div class="input-field row">
									<input id="txtNombreGrano" type="text" class="validate" required>
									<label for="txtNombreGrano">Nombre</label>
								</div> 					
							</div>	
							<div class="col s5 offset-s1">
								<div class="input-field row">
									<input id="txtDescripcionGrano" type="text" class="validate" required>
									<label for="txtDescripcionGrano">Descripcion</label>
								</div> 					
							</div>
						</div>
					</div>
				</li>
			</ul>
			<a class="waves-effect light-green darken-1 btn" id="btnRegistrarGrano">Registrar<i class="material-icons right">done</i></a>
		</form>
	</section>
</template>