<template name="catalogoGranosCliente">
	<div class="row">
		<div class="granos">
			<div class="row">
				{{#each productos}}
					{{> productoCliente}}
				{{/each}} 
			</div>
		</div>
	</div>
</template>
<template name="productoCliente">
	<div class="col s3">
		<div class="card medium">
			<div class="card-image waves-effect waves-block waves-light">
				<img class="activator" src={{imagen}}>
			</div>
			<div class="card-content">
				<span class="card-title activator grey-text text-darken-4">{{nombre}}<i class="material-icons right">more_vert</i></span>
					<p><input id="txtToneladas{{nombre}}" type="number" min="1" class="validate col s4" value="1" required pattern="[0-9]">
					<a class="waves-effect light-green darken-1 btn col s6" id="btnAgregar">Agregar<i class="material-icons right">shopping_cart</i></a>
				</p>
			</div>
			<div class="card-reveal">
				<span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>{{precioConFormato}}</span>
				<p>{{descripcion}}</p>
			</div>
		</div>			
	</div>
</template>