<template name="nuevaCompra">
	<section id="registroBodegas">
		<form class="col s12 card-panel green lighten-5" id="altaBodegas" name="frmAltaBodegas">
			<ul class="collapsible popout" data-collapsible="expandable">
				<li>
					<h3>Nueva Compra</h3>
				</li>
				<li>
					<div class="collapsible-header active"><i class="material-icons">description</i>Datos generales</div>
					<div class="collapsible-body">
						<div class="row">
							<div class="col s6">
								<h6>Tipo de compra</h6>
								<form>
									<div class="col s2">
										<input name="group1" type="radio" id="rdoNacional" checked/>
										<label for="rdoNacional">Nacional</label>
									</div>
									<div>
										<input name="group1" type="radio" id="rdoExtranjero" />
										<label for="rdoExtranjero">Extranjero</label>
									</div>
								</form>
							</div>
							<div class="col s6">
								<h6>Tipo de pago</h6>
								<form action="#">
									<div class="col s2">
										<input name="group2" type="radio" id="rdoDeposito" checked/>
										<label for="rdoDeposito">Deposito</label>
									</div>
									<div>
										<input name="group2" type="radio" id="rdoTransferencia" />
										<label for="rdoTransferencia">Tarjeta</label>
									</div>
								</form>
							</div>
							<div class="col s3">
								<div class="input-field row">
									<select id="selectProveedor">
										<option value="" disabled selected>Proveedor</option>
										{{#each opcionesProveedor}}
										<option value="{{_id}}">{{nombre}}</option>
										{{/each}}
									</select>
									<label>Proveedor</label>
								</div> 					
							</div>
							<div class="col s8 offset-s1">
								<div class="col s3"><input type="date" class="datepicker" id="dateFechaCompra"></div>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="collapsible-header active"><i class="material-icons">list</i>Agregar granos</div>
					<div class="collapsible-body">
						<div class="row">
							<div class="col s10 offset-s1">
								<table class="">
									<thead>
										<tr>
											<th data-field="text">Nombre</th>
											<th data-field="number">Cantidad</th>
											<th data-field="price">Precio de compra</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>
												<div class="input-field row">									<select id="selectNombre">
														<option value="" disabled selected>Grano</option>
														{{#each opcionesNombre}}
															<option value="{{nombre}}">{{nombre}}</option>
														{{/each}}
													</select>
													<label>Nombre</label>
												</div> 	
											</td>
											<td>
												<div class="input-field row">
													<input id="txtCantidad" type="number" class="validate" autofocus required>
													<label for="txtCantidad">Cantidad</label>
												</div>
											</td>
											<td>
												<div class="input-field row">
													<input id="txtPrecioCompra" type="text" class="validate" autofocus required>
													<label for="txtPrecioCompra">Costo</label>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
								<a class="waves-effect light-green darken-1 btn" id="btnAgregarProducto">Agregar<i class="material-icons right">done</i></a>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="collapsible-header active"><i class="material-icons">list</i>Detalle Compra</div>
					<div class="collapsible-body">
						<div class="row">
							<div class="col s10 offset-s1">
								<table class="">
									<thead>
										<tr>
											<th data-field="text">Nombre</th>
											<th data-field="number">Cantidad</th>
											<th data-field="price">Precio de compra</th>
										</tr>
									</thead>
									<tbody>
										{{#each detallesCompra}}
										{{> detCompra}}
										{{/each}}
										<tr>
											<td></td>
											<td></td>
											<td></td>
											<td>Subtotal</td>
											<td>{{subTot}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</li>
			</ul>
			<a class="waves-effect light-red darken-1 btn" id="btnCancelarCompra">Cancelar<i class="material-icons right">cancel</i></a>
			<a class="waves-effect light-green darken-1 btn" id="btnRegistrarCompra">Registrar<i class="material-icons right">done</i></a>
		</form>
	</section>
</template>



<template name="detCompra">
	<tr>
		<td>
			<div class="input-field row">									
				<input id="txtNom{{producto}}" type="text" class="validate" value="{{producto}}" autofocus required disabled>
				<label for="txtNom{{producto}}" class="active">Nombre</label>
			</div> 	
		</td>
		<td>
			<div class="input-field row">
				<input id="txtCan{{producto}}" type="number" class="validate" value="{{unidades}}" autofocus required>
				<label for="txtCan{{producto}}" class="active">Cantidad</label>
			</div>
		</td>
		<td>
			<div class="input-field row">
				<input id="txtPre{{producto}}" type="text" class="validate" value="{{precioAux}}" autofocus required>
				<label for="txtPre{{producto}}" class="active">Precio compra</label>
			</div>
		</td>
		<td>
			<div class="input-field row">
				<p><a class="btn-floating btn-small waves-effect waves-light orange" id="btnEditar"><i class="material-icons">edit</i></a></p>
			</div>
		</td>
		<td>
			<div class="input-field row">
				<p><a class="btn-floating btn-small waves-effect waves-light red" id="btnEliminar"><i class="material-icons">delete</i></a></p>
			</div>
		</td>
	</tr>
</template>