<template name="principal">
   <div class="principal">
	   <div class="slider">	   
		    <ul class="slides">
		      <li>
		        <img src="img/Banner1.png"> 
		      </li>
		      <li>
		        <img src="img/Banner2.png">
		        <div class="caption left-align">
		          <h3>Los mejores granos,</h3>
		          <h5 class="light grey-text text-lighten-3">para la mejor producción.</h5>
		        </div>
		      </li>
		      <li>
		        <img src="img/Banner3.png">
		        <div class="caption left-align">
		          <h3>Exportando al mundo</h3>
		          <h5 class="light grey-text text-lighten-3">Los mejores productos.</h5>
		        </div>
		      </li>
		    </ul>
	    </div>

		<div class="row">
			<div class="col s4">
				<p>
					Agrícola Grain
				</p>
				<blockquote class="light center ">
					Somos una empresa comercializadora de granos y semillas enfocados en apoyar...
				</blockquote>
				<a class="waves-effect light-green darken-1 btn" id="btnVerDescripcion" href="/informacion">Ver más<i class="material-icons right"></i></a>
			</div>
			<div class="col s4">
				<p>
					Productos
				</p>
				<blockquote class="light center">
					Nuestra gama de productos incluye: Maíz forrajero, maíz tortillero, trigo, sorgo, etc.
				</blockquote>
				<a class="waves-effect light-green darken-1 btn" id="btnVerProductos" href="/construccion">Ver más<i class="material-icons right"></i></a>
			</div>
			<div class="col s4">
				<p>
					Servicios
				</p>
				<blockquote class="light center">
					Conosca los servicios adicionales que ofrecemos a nuestros clientes.
				</blockquote>
				<a class="waves-effect light-green darken-1 btn" id="btnVerServicios" href="/construccion">Ver más<i class="material-icons right"></i></a>
			</div>
		</div>

		<div class="row">
		    <div class="col s12">
		      <ul class="tabs">
		        <li class="tab col s3"><a href="#plantaAngostura">Planta Angostura</a></li>
		        <li class="tab col s3"><a class="active" href="#plantaCuliacan">Planta Culiacán</a></li>
		        <li class="tab col s3"><a href="#plantaMonterrey">Planta Monterrey</a></li>
		        <li class="tab col s3"><a href="#plantaHolanda">Planta Holanda</a></li>
		      </ul>
		    </div>
		    <div class="col s12">
		    </div>
		    <div id="plantaAngostura" class="col s12">
		    	<img class="materialboxed left" width="250" src="img/planta_Angostura.jpg">
		    	<p>
		    		Planta Angostura <br>
									<br>
				CARRETERA GUAMUCHIL-ANGOSTURA KM 10+700 <br>
				ALHUEY, ANGOSTURA, SINALOA. <br>
				TEL/FAX (697) 734-01-83 </p>
		    </div>
		    <div id="plantaCuliacan" class="col s12">
		    	<img class="materialboxed left" width="250" src="img/planta_Culiacan.jpg">
		    	<p>
		    		Planta Culiacán <br>
									<br>
				CARRETERA A NAVOLATO KM. 10.5 COL. AEROPUERTO <br>
				CULIACÁN, SINALOA <br>
				TEL/FAX (697) 734-01-83 </p>
		    </div>
		    <div id="plantaMonterrey" class="col s12">
		    	<img class="materialboxed left" width="250" src="img/planta_Monterrey.jpg">
		    	<p>
		    		Planta Monterrey <br>
									<br>
				VICENTE GUERRERO 1622 OBRERISTA Tel. 01 81 8375 3693 <br>
				MONTERREY, NUEVO LEÓN <br>
				TEL/FAX (01)81-8375-3693 </p>   	
		    </div>
		    <div id="plantaHolanda" class="col s12">
		    	<img class="materialboxed left" width="200" src="img/planta_Holanda.jpg">
		    	<p>
		    		Planta Holada <br>
									<br>
				JUPITER 65 POELDIJK, 2685 LV <br>
				HOLANDA <br>
				TEL/FAX (697)174 244 725 </p>
		   	</div>
	  	</div>
	</div>

</template>