<template name="productos">
	<div class="row">
	  	<div class="col s12">
	  		<img src="img/Banner_Productos.png" alt="">
	  		<blockquote class="light" id="quienes">
	  			En agrícola grain contamos con todo lo que necesita para su cultivo o cosecha,
	  			desde la venta de granos y semillas, hasta la renta de bodegas totalmente
	  			seguras para que usted almacene su cosecha.
				<div class="divider"></div>
	  		</blockquote>
	  	</div>
	  </div>
	<div class="row">
		<div class="col s5">
			<div class="row">
		        <div class="col s12">
		          <div class="card">
		            <div class="card-image">
		              <img class="responsive-img" src="img/bodega_mini.png" id="imgMision">
		            </div>
		            <div class="card-content">
		              <p class="light">Las bodegas de agrícola grain cuentan con la mejor
		              	infraestructura del país para brindarle a usted la tranquilidad de que
		              	su cosecha se encuentra en las mejores manos. Cuentan con sistema de 
		              	seguridad, con el que garantizamos acceso solo a personas autorizadas.</p>
		            </div>
		            <a class="waves-effect light-green darken-1 btn" href="/catalogoBodegas">Ver<i class="material-icons right"></i></a>
		          </div>
		        </div>
     		 </div>
		</div>
		<div class="col s5 offset-s1">
			<div class="row">
		        <div class="col s12">
		          <div class="card">
		            <div class="card-image">
		              <img src="img/granos_mini.png" id="imgVision">
		            </div>
		            <div class="card-content">
		              <p class="light">En agrícola grain tenemos los mejores granos, con la mejor
		              	calidad del país, que cumplen con rigurosos estandares de calidad
		              	antes de ser ofrecidos a nuestros clientes, todos nuestros granos
		              	y semillas pasan por un proceso de calidad.</p>
		            </div>
		            <a class="waves-effect light-green darken-1 btn" href="/catalogoGranos">Ver<i class="material-icons right"></i></a>
		          </div>
		        </div>
     		 </div>
		</div>	
	</div>
</template>