#tmpDetalleBodega, .collapsible-body
{
	background: white;
}
@media print {
nav {display: none;}
header{display: none;}
.btn{display: none;}
.noImprimir{display: none;}
	#direccionMatriz
	{
		float: right;
	}
footer {display: none;}
p{
	font-size: 90%;
	font-family: "Times New Roman", Times, serif;
	margin-top: -20px;
}
.collapsible-header
{
	display: none;
}
}
ul.collapsible.popout
{
	background: white;
	margin-bottom: 0px;
	margin-top: 0px;
}
#contenidoDinamico
{
	margin-top: 0px;
}
nav
{
	margin-bottom: 0px;
}