<template name="editarBodega">
	<section id="editaBodega">
    	{{#each frmBodega}}
    		{{> editBodega}}
    	{{/each}}
    </section>
</template>

<template name="editBodega">
	<form class="col s12 card-panel green lighten-5" name="frmEditarBodega">
		  <ul class="collapsible popout" data-collapsible="expandable">
		  	<li>
		  		<h3>Editar Bodega</h3>
		  	</li>
		    <li>
		      <div class="collapsible-header active"><i class="material-icons">description</i>Datos Generales</div>
		      	<div class="collapsible-body">
		      		<div class="row">
		      			<div class="col s6">
							<div class="input-field row">
			                    <input id="txtNombreE" type="text" class="validate" value={{nombre}} autofocus required>
			                    <label class="active" for="txtNombreE">Nombre de la Bodega</label>
		                    </div> 					
		 				</div>
		 				<div class="col s6">
							<div class="input-field row">
			                    <input id="txtDescripcionE" type="text" class="validate" value={{descripcion}} required>
			                    <label class="active" for="txtDescripcionE">Descripción</label>
		                    </div> 					
		 				</div>
		 				<div class="col s6">
							<div class="input-field row">
			                    <input id="txtPrecioE" type="text" class="validate" value={{precio}} required>
			                    <label class="active" for="txtPrecioE" data-error="Escriba un correo válido.">Precio</label>
		                    </div> 					
		 				</div>	
		      		</div>
		 		 </div>
		    </li>
	    	<li>
		      <div class="collapsible-header"><i class="material-icons">list</i>Caracteristicas</div>
		      <div class="collapsible-body">
		      	<div class="row">
		      		<div class="col s6">
						<div class="input-field row">
			                <input id="txtLargoE" type="text" class="validate" value={{largo}} required>
			                <label class="active" for="txtLargoE">Largo</label>
		                </div> 					
		 			</div>
		 			<div class="col s6">
						<div class="input-field row">
			                <input id="txtAnchoE" type="text" class="validate" value={{ancho}} required>
			                <label class="active" for="txtAnchoE">Ancho</label>
		            	</div> 					
		 			</div>
		 				<div class="col s6">
							<div class="input-field row">
			                    <input id="txtAltoE" type="text" class="validate" value={{alto}} required>
			                    <label class="active" for="txtAltoE">Alto</label>
		                    </div>
		 				</div> 
		 				<div class="col s6">
							<div class="input-field row">
			                    <input id="txtEspecificacionesE" type="text" class="validate" value={{especificaciones}} required>
			                    <label class="active" for="txtEspecificacionesE">Especificaciones</label>
		                    </div> 					
		 				</div>	
		 			</div>
		      </div>
	    </li>
	    <li>
	    <div class="collapsible-header"><i class="material-icons">location_on</i>Ubicación</div>
	    	<div class="collapsible-body">
	      		<div class="row">
	      			<div class="col s6">
						<div class="input-field row">
		                    <input id="txtCalleE" type="text" class="validate" value={{direccion.calle}} required>
		                    <label class="active" for="txtCalleE">Calle</label>
	                    </div> 					
	 				</div>	 
	 				<div class="col s6">
						<div class="input-field row">
		                    <input id="txtColoniaE" type="text" class="validate" value={{direccion.colonia}} required>
		                    <label class="active" for="txtColoniaE">Colonia</label>
	                    </div> 					
	 				</div>		
	 				<div class="col s6">
						<div class="input-field row">
		                    <input id="txtNumeroExteriorE" type="text" class="validate" value={{direccion.numero}} required>
		                    <label class="active" for="txtNumeroExteriorE">Número exterior</label>
	                    </div> 					
	 				</div>
	 				<div class="col s6">
						<div class="input-field row">
		                    <input id="txtNumeroInteriorE" type="text" class="validate" value={{direccion.numeroInterior}} required>
		                    <label class="active" for="txtNumeroInteriorE">Número interior</label>
	                    </div> 					
	 				</div>
	 				<div class="col s6">
						<div class="input-field row">
		                    <input id="txtPaisE" type="text" class="validate" value={{direccion.pais}} required>
		                    <label class="active" for="txtPaisE">País</label>
	                    </div> 					
	 				</div>	
	 				<div class="col s6">
						<div class="input-field row">
		                    <input id="txtEstadoE" type="text" class="validate" value={{direccion.estado}} required>
		                    <label class="active" for="txtEstado">Estado</label>
	                    </div> 					
	 				</div>	
	 				<div class="col s6">
						<div class="input-field row">
		                    <input id="txtCiudadE" type="text" class="validate" value={{direccion.ciudad}} required>
		                    <label class="active" for="txtCiudadE">Ciudad</label>
	                    </div> 					
	 				</div>		
	 			</div>
	 		</div>
	    </li>
	  </ul>
 			<a class="waves-effect light-green darken-1 btn" id="btnGuardar">Guardar<i class="material-icons right">save</i></a>
 			<a class="waves-effect red btn" id="btnCancelar">Cancelar<i class="material-icons right">clear</i></a> 
        </form>
</template>