<template name="registrarProveedor">
	<section id="registroEmpleado">
    	<form class="col s12 card-panel green lighten-5" id="registrarProveedor" name="frmRegistrarProveedor">
		  <ul class="collapsible popout" data-collapsible="expandable">
		    <li>
		      <div class="collapsible-header active"><i class="material-icons">accessibility</i>Datos generales de usuario</div>
		      	<div class="collapsible-body">
		      		<div class="row">
		      			<div class="col s10 offset-s1">
							<div class="input-field row">
			                    <input id="txtNombreP" type="text" class="validate" autofocus  required>
			                    <label for="txtNombreP">Nombre</label>
		                    </div> 					
		 				</div>
		 				<div class="col s5 offset-s1">
							<div class="input-field row">
			                    <input id="txtCorreoP" type="email" class="validate">
			                    <label for="txtCorreoP" data-error="Escriba un correo válido.">Correo electrónico</label>
		                    </div> 					
		 				</div>
		 				<div class="col s4 offset-s1">
							<div class="input-field row">
			                    <input id="txtTelefonoP" type="tel" class="validate">
			                    <label for="txtTelefonoP">Teléfono</label>
		                    </div> 					
		 				</div>		
		      		</div>
		 		 </div>
		    </li>
		    <li>
		      <div class="collapsible-header"><i class="material-icons">map</i>Dirección</div>
		      <div class="collapsible-body">
		      	<div class="row">
		      		<div class="col s5 offset-s1">
						<div class="input-field row">
			                <input id="txtCalleP" type="text" class="validate">
			                <label for="txtCalleP">Calle</label>
		                </div> 					
		 			</div>
		 			<div class="col s4 offset-s1">
						<div class="input-field row">
			                <input id="txtNumeroP" type="number" class="validate">
			                <label for="txtNumeroP">Número</label>
		            	</div> 					
		 			</div>
		 			<div class="col s5 offset-s1">
						<div class="input-field row">
			                <input id="txtColoniaP" type="text" class="validate">
			                <label for="txtColoniaP">Colonia</label>
		            	</div> 					
		 			</div>
		 				<div class="col s4 offset-s1">
							<div class="input-field row">
			                    <input id="txtRFCP" type="text" class="validate">
			                    <label for="txtRFCP">R.F.C</label>
		                    </div> 	
		 				</div>
		 				<div class="col s5 offset-s1">
							<div class="input-field row">
			                    <input id="txtPaisP" type="text" class="validate">
			                    <label for="txtPaisP">País</label>
		                    </div> 					
		 				</div>	 
		 				<div class="col s4 offset-s1">
							<div class="input-field row">
			                    <input id="txtEstadoP" type="text" class="validate">
			                    <label for="txtEstadoP">Estado</label>
		                    </div> 					
		 				</div>
		 				<div class="col s5 offset-s1">
							<div class="input-field row">
			                    <input id="txtCiudadP" type="text" class="validate">
			                    <label for="txtCiudadP">Ciudad</label>
		                    </div> 
		 				</div>	
		 			</div>
		      </div>
	    </li>
	  </ul>
	<a class="waves-effect light-green darken-1 btn" id="btnRegistrarProveedor">Registrar<i class="material-icons right">done</i></a>
        </form>
      </section>
</template>